body{background-image: url(https://i.pinimg.com/474x/a7/f8/7f/a7f87ff1f2e5736504cdb904e7b308e2.jpg);
width: 30%;
background-size: cover;
background-position: top;
background-repeat: no-repeat;
}
